
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media only screen and (max-width: 468px) {
    .page-header {
        flex-direction: column;
    }
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.page-header nav a:not(:hover):not(:focus) {
    color: currentColor;
    text-decoration: none;
}

.content {
    max-width: 900px;
    margin: auto;
    font-size: 22px;
    line-height: 1.5;
}



.mermaid svg {
    background: white;
    border-radius: 25px;
    padding: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.backlink__link {
    color: inherit;
	font-size: smaller;
}
.font-bg {
    font-size: 92px;
}

blockquote {
    background: #ffffff17;
    border-left: 10px solid #C1DBE3;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.direct-link
{
    padding-right: 10px;
    position: relative;
	font-size: 35%;
	color: rgb(139, 87, 0);
	}
.external-link, a {
    position: relative;
color: rgb(139, 87, 0);

}

div.translusion {
    border-left: 4px solid gray;
    padding-left: 10px;
}

pre[class*="language-ad-"]::before {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

code[class*="language-ad-"] {
    font-family: 'Roboto', sans-serif;
    white-space: normal !important;
}
pre[class*="language-ad-ltr"]{
	direction:ltr;
	color: inherit;
    background: inherit;
}
pre[class*="language-ad-code"]{
	word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    font-family: var(--font-monospace);
    text-align: left;
    word-spacing: normal;
    line-height: 1.5;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
	direction:ltr;
	color: black;
    background: lightgray;
}
pre[class*="language-ad-"] {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    background-color: #3b2e58;
    border: 1px solid #3b2e58;
    border-radius: 6px;
    color: rgb(230, 230, 230);
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    outline-color: rgb(230, 230, 230);
    padding: 1rem;
    position: relative;
    transition: height .5s ease-in, opacity .5s ease-in;
    word-break: break-word;
    white-space: normal !important;
}
pre.language-ad-table::before {
    content: none;
}
pre.language-ad-note::before {
    content: "🖊️ Note";
}

pre.language-ad-tip::before {
    content: "💡 Tip";
}

pre.language-ad-warning::before {
    content: "⚠️ Warning";
}

pre.language-ad-important::before {
    content: "❗️ Important";
}

pre.language-ad-caution::before {
    content: "⚠️ Caution";
}

pre.language-ad-info::before {
    content: "ℹ Info";
}

pre.language-ad-tip {
    background-color: rgb(5, 75, 22);
    border-color: rgb(5, 75, 22);
}

pre.language-ad-warning {
    background-color: rgb(106, 75, 22);
    border-color: rgb(106, 75, 22);
}

pre.language-ad-important {
    background-color: rgb(0, 65, 115);
    border-color: rgb(0, 65, 115);
}

pre.language-ad-caution {
    background-color: rgb(99, 0, 1);
    border-color: rgb(99, 0, 1);
}

pre.language-ad-info {
    background-color: #2e5854;
    border: 1px solid #2e5854;
}


div.backlink{
	background-color: lightyellow;
    padding: 1rem;
    border: 2px solid #e6e6e6;
    border-radius: 12px;
	margin: 0.5rem;
	}

div.backlink__preview{
font-size: x-small;
}

* {
  box-sizing: border-box;
}


p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  /*max-width: 37.5em;  600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
nav a {
    margin: 0 12px;
}
.note_header{ 
 margin:10px;
 }
.note_content{
  margin:10px;
  }
@media (max-width:719px) {
main {
margin: 10px;
}}
@media (min-width: 720px) {
.note_header{ 
 margin:0px;
 }
.note_content{
  margin:0px;
  }
main {
  padding: 3rem;
  max-width: 1200px;
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
}}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px var(--lightgray);
direction: var( --cssclasses );
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
   text-align: inherit;
  padding-right: 1em;
  border-left: dashed;
  border-width: 1px;
  border-color: rgb(163 131 80);
}
th {
    font-weight: bolder;
}
table th:last-child, td:last-child {
    border-left: none;
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  /* float: left; */
  margin-top: inherit; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav > li > a:hover, .nav > li > a:focus {
border-radius: 5px;
}
.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
	font-weight: 700;
	text-decoration: underline;

}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-size: 1em; /* 12px /16 */
  padding: 0em 0.5em 0em 0.5em; /* 1px 4px /12 */
  margin: 0.5em 0em 0.5em 0em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 1em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
color: gray;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: #97aebd;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #d2dadf;
}


.about h1 {
  margin-bottom: 2rem;
}

.about img {
  border: 4px solid rgba(0, 0, 0, 70%);
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

@media (min-width: 35.9375em) {
  .about img {
    width: 200px;
    float: right;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}
.footer {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: none;
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.75rem;
  width: 100%;
  font-size: var(--text-base);
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.footer__content > * {
  margin-top: 2rem;
}

.footer__attribution {
  font-size: var(--text-sm);
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer li {
  margin-right: 2rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header {

  text-transform: capitalize;
  margin-bottom: 2rem;
  margin: 0;
  position: fixed;
    width: 100%;
    z-index: 1;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    top: 0px;
}

.header__content {
background-color: #fbf8ef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  //max-width: 48.75rem;
  max-width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.site-title {
  font-family: 'Handlee', cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.site-title a {
  color: white;
  text-decoration: none;
  opacity: 0.9;
  font-size: 3rem;
}

.site-title a:hover {
color: rgb(128 137 255);
   opacity: 1;
}

.nav__list {
  justify-content: space-around;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  float: right;
  font-family: "Handlee", cursive;
}
@media (max-width:719px){
.site-title a {
  font-size: 2rem;
}
.navbar-toggle .icon-bar {
    background-color: black
}
.nav__list { 
    background-color: black; 
	display: grid;
    /* justify-content: space-around; */
    list-style: circle;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
}

.nav__list a {
  color: white;
  opacity: 0.85;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.nav__list li {
  margin-right: 2rem;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list a:hover {
color: rgb(128 137 255);
opacity: 1;
}
.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: var(--text-5xl);
}



.hero__social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2rem;
  text-transform: uppercase;
}

.hero__social-links > li {
  margin-right: 2rem;
  margin-top: 1rem;
}

.hero__skip-link {
  align-self: center;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  border: 2px solid rgb(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.hero__skip-link svg {
  transition: opacity 0.2s ease-in-out;
  stroke: rgb(0, 0, 0, 0.4);
  /* color: rgb(41, 41, 41); */
}


.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: 48.75rem;
}
.not-found {
  display: grid;
  place-items: center;
}

.not-found h1 {
  font-size: var(--text-6xl);
}

.not-found p {
  font-size: var(--text-3xl);
  text-align: center;
}
.tags > * {
  //margin-right: 1rem;
  margin-top: 0.5rem;
}

.tags {
  margin-top: 1rem;
  font-size: var(--text-sm);
  margin-bottom: 1rem;
}

.tags a {
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.post-list__wrapper {
  margin-top: 6rem;
}

.post-list__heading {
  font-size: var(--text-3xl);
  margin-bottom: 1rem;
}

.post-list {
  list-style: none;
}
.notes-list {
  list-style: none;
}
@media (min-width: 1024px) {
ul.post-list {
    grid-template-columns: repeat(2,1fr);
}
ul.notes-list {
    grid-template-columns: repeat(3,1fr);
}
}

ul.post-list {
    display: grid;
    max-height: max-content;
    justify-items: stretch;
    gap: 20px;
    padding: 40px;
    margin: 40px 0;
}
ul.notes-list {
    display: grid;
    max-height: max-content;
    justify-items: stretch;
    gap: 20px;
    padding: 40px;
    margin: 40px 0;
}
.post-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.post-list__item:last-child {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
li.note-list__item {
	background-color: lightyellow;
    display: flex;
    overflow: hidden;
    max-height: max-content;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    border: 2px solid #e1e0e0;
    border-radius: 10px;
}.note-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.note-list__item:last-child {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
li.post-list__item {
    display: flex;
    overflow: hidden;
    max-height: max-content;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    border: 2px solid #e1e0e0;
    border-radius: 10px;
}
.post-list__title {
  font-size: var(--text-2xl);
  margin-top: 0.5rem;
}

.post-list__title a {
  font-weight: normal;
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.post-list__title a:hover {
  /* color: var(--accent); */
  text-decoration: underline;
}

.post-list__meta {
  font-size: var(--text-lg);
  font-style: italic;
  font-weight: lighter;
  margin-top: 1rem;
  color: rgb(117, 117, 117);
}

.post-list__meta > * + * {
  margin-left: 1rem;
}

.post-list__tags , .note_tags {
  text-decoration: none;
  font-size: var(--text-lg);
  font-style: italic;
  font-weight: lighter;
  margin-top: 0.5rem;
}

.post-list__tags a, .note_tags a{
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.post-list__tags a:hover, .note_tags a:hover{
  color: var(--accent);
}

.post-list__tags > * + * {
  margin-left: 1rem;
}

.post-list__excerpt {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-size: var(--text-lg);
  overflow-wrap: anywhere;
  font-size: smaller;
}

.post-list__read-more {
  width: fit-content;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-decoration: underline;
}

.post-list__read-more:hover {
  text-decoration: underline;
}

.all-posts-link {
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-lg);
  text-decoration: underline;
  color: currentColor;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post > * + * {
  margin-top: 1rem;
}

.post__details {
  opacity: 0.6;
}

.post__details > * + * {
  margin-left: 0.5rem;
}

.post__content {
  word-wrap: break-word;
  max-width:100%;
}

.post__aside {
  margin-top: 0rem;
}

.post__tags {
  opacity: 0.8;
  font-size: inherit; 
  margin-top: 10px;
}

.post__tags * + * {
  margin-left: 0.5rem;
}

.post__pagination {
background-color: #fbf8ef;
direction: ltr;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

.post__pagination > *:only-child {
  margin-right: auto;
  margin-left: auto;
}

.post__pagination a {
  display: flex;
  align-items: center;
}
.post__pagination span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (https://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ABB2BF;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #282c34;
}

pre[class*="language-ad-table"] {
	text-align: inherit;
    font-family: inherit;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 0px solid #3b2e58;
    border-radius: 6px;
    color: rgb(12 12 12);
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    outline-color: rgb(230, 230, 230);
    padding: 1rem;
    position: relative;
    transition: height .5s ease-in, opacity .5s ease-in;
	word-break: unset;
    white-space: normal !important;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #5C6370;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
:root {
  --accent: #0074d9;
  --background: #fffffe;
  --color: rgb(41, 41, 41);
}

:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}
:root {
  --bg-header: #fffcf0;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 5rem;
}

.note_header {
max-width: 55em;
border-bottom: none;
}
.note_details {
  opacity: 0.6;
}

.note_details > * + * {
  margin-left: 0.5rem;
}
.note_content {
  word-wrap: break-word;
  padding-top: 3rem;
  max-width: 100%;
  padding-right:0px;
}

.note_aside {
  margin-top: 0rem;
}

.note_tags {
  opacity: 0.8;
  font-size: inherit; /*var(--text-sm); */
}

.note_tags * + * {
  margin-left: 0.5rem;
}
.note_section {
	margin-top: 2rem;
}
.tags-title
{
    border-bottom: 1px dashed var(--lightgray);
}
.backlinks-title
{
    border-bottom: 1px dashed var(--lightgray);
} 




.revealContent{
  position: relative; 
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.revealContent.active{
  /* position: relative; */
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 781px) {
.home-animated_text h1{
font-size: 40px;
color: white;
    opacity:0.85;
   }

.home-animated_text {
    width: 100%;
    text-align: center;
    margin: 18% auto 24px auto;
    font-family: 'Oswald', sans-serif;
	}
	}
.home-animated_text{
    font-family: 'Handlee', cursive;
	float: inherit;
    text-align: center;
	position: absolute;
	top: 30%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
   }
@media (max-width: 719px) {
.home-animated_text{
text-align: left; 
top: 250px;
padding-left: 2em;
}}
.home-animated_text h1{
	color: white;
    opacity:0.9;
	margin: 0;

   }
.banner-container-other > img {
    width: 100%;
	max-width: 100%;

}
.banner-container, .banner-container-other {
	width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 40%);
    /* background: url(../images/banner-bg.jpg) no-repeat; */
    background-size: 100% 100%;
    background-size: cover;
	overflow: hidden;
	height: 240px;
	}
.banner-container {    
height: inherit;
}

.banner-container > img {
    width: 100%;
	max-width: 100%;
    height: auto;
}
@media (max-width: 480px) {
.banner-container > img {
    width: 100%;
	height: 340px;
}}
@media (min-width: 720px){
.navbar-nav > li > a {
    /*padding-top: 25px;*/
    border-radius: 7px;
	}}

.menu-container-bg {
    visibility: hidden;
	/* position:relative; */
	background:black;
    background-image: url(/attch/banner-bg.jpg);
}
.collapse {
    display: none;
	height:0px;
}
.menu-header {
	padding-top: 5px;
	opacity: 0.85 !important;
	float:left;    
    font-family: cursive;
    font-weight: 400;
    font-size: 64px;
}
@media (min-width: 720px){
.menu-header {
	padding-top: 20px;

	}
}
.navbar-toggle{
	background-color: var(--bg-header);
	/*margin:25px;*/
    margin-bottom: 0px;
	/*position:inherit;*/

}
.navbar-inverse-custom {
    background-color: inherit;
    border-color: inherit;
}
#notes-container {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
        "section"
        "side";
}
@media (min-width: 720px){
.md-header-link{
opacity: 0.35;
    font-size: 0.76em;
    vertical-align: middle;
}
.md-header-link:hover{
opacity: 1;
    font-size: 0.96em;
    vertical-align: middle;
}

#notes-container {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "section side";
	
	}}
	@media (min-width:720px){
	.about_nav{
	grid-template-columns:1fr 16em;
	grid-gap:2em 1.25em}
	.about_contact_side
	{max-width:calc(calc(360 / 16) * 1em);
	padding-inline-start:2.5em;
	border-inline-start:1px solid #e4e8ed}
	.note_aside
	{max-width:calc(calc(360 / 16) * 1em);
	padding-inline-start:2.5em;
	border-inline-start:1px solid #e4e8ed}
	}
	.ch_link_social_icon{
	display:inline;
	height:1.25rem;
	overflow:hidden;
	width:1.5rem;
	margin-top:auto;
	margin-bottom:auto
	}
	.ch_link_social_icon svg{
	font-size:1.5rem;
	/*width:1.5em;
	height:1.25em;*/
	vertical-align:top
	}


	.list_social_link{
	white-space:nowrap;
	display:flex
	}
	
	.ul_social_links{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:0 1.25em;
	}
	@media (min-width:720px){
	.ul_social_links{
	display:block;
	margin:0;
	padding:0;
	flex-wrap:wrap
	}
	}
	
	@media (min-width:960px){
	.about_nav{
	grid-gap:1.25em;
	grid-template-columns:1fr 22em
	}
	}
	@media (max-width:719px){
	.about_nav .channels-links{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:0 2rem
	}
	}
	@media (max-width:479px){
	.about_nav .channels-links{
	display:grid;
	grid-template-columns:1fr 1fr
	}
	}
	
	.about_nav{
	max-width:1250px;
	margin:1.5em auto 2em;
	padding:3em 1.5rem 1rem;
	display:grid;
	grid-gap:2em;
	border-top:1px solid #e4e8ed
	}


	.shared_fg{
	color:#515e72
	} 

	
	
	.chlist_social_link{
	display:block;
	padding:.25rem .25rem .25rem 0
	}
	.chlist_social_link:focus,
	.chlist_social_link:hover{
	color:#206ee9
	}

	.ch_reset_link{
	color:inherit;
	text-decoration:none
	}
	
	@media (hover:hover){
	.shared_glink:hover{
	color:#121923}

}
	
	.shared_text{
	/*font-size:calc(1rem / 16 * 14);*/
	line-height:calc(20 / 14)}
	
	.shared_resetList{list-style:none}
	




.search-container{
	margin-top: 8px;
	margin-right: 3px;
	padding: 1px;
	width: 35px;    
	background: #fdfdfd47;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
	float:right;
  
}
.search-container:hover {
	width: fit-content;
	height: 35px;
    background: #fff;
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);

}

.search-container:hover > .search-input{
    width: 90%;
	
}
.search-container #searchResults:hover{
    width: 90%;

	}

.search-container:hover #searchResults{
    height: fit-content;
	display: block;
    background: white;
    position: fixed;
	margin-top: 20px;
	width: 250px;
	max-height: 400px;
	overflow: auto;
	border-radius: 5px;
    right: 25px;
}
.searchResultsBox {
    position: fixed;
	width: 250px;
	right:5px;
	z-index: 2;
	scroll-behavior: inherit;
    overflow-y: scroll;
}
@media (min-width:720px){
.search-container:hover #searchResults{
	max-height: 600px;
    right: 5px;

}
.searchResultsBox {
    width: 400px; 

}
.search-container:hover {
	height: 40px;
	width: 300px;
}
.search-container:hover #searchResults{
    height: fit-content;
    /* border-radius: 10px; */
    width: inherit;
	left: inherit;
}
.search-container{
	margin: 20px;
	padding: 20px;
    border-radius: 10px;
	}
.search-container:hover > .search-input{
    width: 280px;
	
	}


}
.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

#searchResults{
    height: inherit;
    background: inherit;
	padding: 0px;
    width: 0px;
	display: none;
}


.search-container .search-btn .fas{
    color: #5cbdbb;
	float:right;
}

@keyframes hoverShake {
  15% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}
#searchResults > li{
padding-right: 10px;
padding-left: 10px;
padding-top:2px;

}
 > h3 {
	color: #303030;
	font-size: 0.85em;
	margin: 0px;
}
#searchResults > li > p {
    font-size: 0.8em;
}

