---
layout: layouts/base.njk
---
<header class="hero">
  <div class="hero-content">
    <div class="intro">
      {{ content | safe }}
    </div>

    {% if site.socialLinks %}
      <ul class="hero__social-links">
        {% for item in site.socialLinks %}
          {% set externalAttribute = '' %}

          {% if item.external %}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {% endif %}

          <li>
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</header>


