---
cssclasses: rtl
layout: layouts/base.njk
---




<article class="post" dir={{ cssclasses or metadate.cssclasses }}>
 
 <header class="note_header">
    <h1>{{ title }}</h1>
    <div class="note_details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
     <span>{{ content | readingTime }} read</span>
	</div>
  </header>
<main class="note_content">
<div id="notes-container">
<section class="note_section">

{{ content | safe }}
</section>
 <aside class="note_aside">
	<p class="tags-title">Tags:</p>
    <div class="note_tags" >
      {% for tag in tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>
	  

{% include "componnents/backlinks.njk" %} 
   
  </aside>
</div>
  </main>

 

</article>