---
cssclasses: rtl
layout: layouts/home.njk
permalink: /dafyomi/
eleventyNavigation:
  key: Daf-Yomi
  order: 2
---

<h1 dir="rtl"> הדף היומי </h1>


{% set maxPosts = collections.dafyomi.length | min(3) %}


<section class="post-list__wrapper" >
<div style="max-width:80%; padding-left: 2rem;
    padding-left: 2rem;
	padding-right: 2rem;
    border: 2px solid #e6e6e6;
    border-radius: 12px;">
{% set postslist = collections.dafyomi | head(-3) %}
{% set postslistCounter = collections.dafyomi | length %}
<h3 class="post-list__heading"> {% if maxPosts == 1 %}הדף האחרון{% else %}{{ maxPosts }} הדפים האחרונים{% endif %}</h3>
{% include "componnents/postslist.njk" %}
</div>
</section>




<div dir="rtl">
<h2 class="post-list__heading" >מסכת יבמות</h2>
{% set postslist = collections.Yevamot %}
{% include "componnents/postslist.njk" %}

<h2>חגיגה</h2>
{% set postslist = collections.Hagigah | head(-3) %}
{% include "componnents/postslist.njk" %}
<p> ליתר הדפים במסכת חגיגה <a href="{{ '/tags/hagigah/' | url }}"> לחץ כאן</a></p>

<h2>מועד קטן</h2>
{% set postslist = collections.Moed_Katan | head(-3) %}
{% include "componnents/postslist.njk" %}
<p> ליתר הדפים במסכת מועד קטן <a href="{{ '/tags/moed_katan/' | url }}"> לחץ כאן</a></p>

<h2>מגילה</h2>
{% set postslist = collections.Megilah | head(-3) %}
{% include "componnents/postslist.njk" %}
<p> ליתר הדפים במסכת מגילה <a href="{{ '/tags/megilah/' | url }}"> לחץ כאן</a></p>

<h2>מועד קטן</h2>
{% set postslist = collections.Taanit | head(-3) %}
{% include "componnents/postslist.njk" %}
<p> ליתר הדפים במסכת תענית <a href="{{ '/tags/taanit/' | url }}"> לחץ כאן</a></p>


</div>