---
cssclasses: ltr
draft: false
permalink: /notes/
layout: layouts/base.njk
eleventyNavigation:
  key: Notes
  order: 2
---
<h1>All Notes</h1>

{% set noteslist = collections.notes %}
{% include "componnents/noteslist.njk" %}




