---
permalink: /tags/
layout: layouts/home.njk
header: Tag List
eleventyNavigation:
  key: All Tags
  order: 3
---

<div class="field is-grouped is-grouped-multiline">
  {%- for tag in collections.tagList -%}
    {%- set postsList = collections[ tag ] -%}
    {%- set listCount = postsList.length -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}

    {% if listCount %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }} ({{ listCount }})</a>
      </a>
    {% endif %}
  {%- endfor -%}

