---
layout: layouts/base.njk
title: Yakis blog
---


  <main class="post__content ">
    {{ content | safe }}
  </main>
<section class="post-list__wrapper revealContent" >
  <h2 class="post-list__heading">Recent 5 Posts</h2>
<div style="border-top: 2px solid #e6e6e6;">
  {% set postslist = collections.posts | head(-5) %}

  {% include "componnents/postslist.njk" %}

<a class="all-posts-link" href="{{ '/archive/' | url }}">View All Posts</a>

</div>

</section>

<section class="post-list__wrapper revealContent" >
  <h2 class="post-list__heading">Recent 5 Notes</h2>
<div style="border-top: 2px solid #e6e6e6;">
  {% set noteslist = collections.notes | head(-5) %}

  {% include "componnents/noteslist.njk" %}

<a class="all-posts-link" href="{{ '/notes/' | url }}">View All Notes</a>

</div>

</section>
