
{% block content %}

   

	
  <div class="field">
    <!-- <label for="searchField">Search</label> -->
	<div class="search-container">
        <input type="text" name="search" placeholder="Search..." class="search-input" id="searchField">
		
		<a href="#" class="search-btn">
                <i class="fas fa-search"></i>      
        </a>
		<div class="searchResultsBox">
		<ol id="searchResults">
		</ol>
		</div>	
    </div>

  </div>
 
  <div id="noResultsFound" style="display: none">
    <p>No results found.</p>
  </div>
	<script src="/js/elasticlunr.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/mysearch.js"></script>
{% endblock %}
