

<a href="https://twitter.com/share?text={{ title or metadata.title }} by {{ metadata.author.twitterHandle }}&url={{ page.url | url | absoluteUrl(metadata.url) | urlencode }}&hashtags={{ tags }}" style="display: block;" onclick="window.open(this.href);return false;"> 
    <object style="pointer-events: none; width:150px;" data="/attch/share-twitter.svg" type="image/svg+xml">
        <span>Your browser doesn't support SVG images</span>
    </object>
</a>
 